<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260227198384-3vvb9q2jgqbtgu7oninkq6bm3j93o7lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260227198384-3vvb9q2jgqbtgu7oninkq6bm3j93o7lp</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Pt0Ygm3PTjMrKK3APQZUR5I6HyD0bLc</string>
	<key>GCM_SENDER_ID</key>
	<string>260227198384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>koenaapp.com</string>
	<key>PROJECT_ID</key>
	<string>koena-app</string>
	<key>STORAGE_BUCKET</key>
	<string>koena-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260227198384:ios:30d5f6a7c7c270a9af3a75</string>
</dict>
</plist>